@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.with-connector:after {
  @apply absolute left-full w-[20px] border-2 border-l-0 border-[#e6e6e6] content-['_'];
}
.with-connector:nth-child(odd):after {
  @apply top-[calc(50%_-_1px)] border-b-0;
}
.with-connector:nth-child(even):after {
  @apply bottom-[calc(50%_-_1px)] border-t-0;
}
.round:nth-child(1) .with-connector:after {
  @apply h-[60px];
}
.round:nth-child(2) .with-connector:after {
  @apply h-[120px];
}
.round:nth-child(3) .with-connector:after {
  @apply h-[240px];
}
.round:nth-child(4) .with-connector:after {
  @apply h-[480px];
}
.round:nth-child(5) .with-connector:after {
  @apply h-[960px];
}
.round:last-child .with-connector:after {
  @apply hidden;
}
.round + .round .with-connector:before {
  @apply absolute right-full top-[calc(50%_-_1px)] w-[22px] border-t-2 border-[#e6e6e6] content-['_'];
}
